<!DOCTYPE html>

<html lang="en">

<head>
	<%- include('../partials/head') %>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title>
</head>

<body>
	<section class="hero is-info is-fullheight" style="background-image: url('https://wallpaperaccess.com/full/1703370.jpg'); 
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			opacity: 1.00;">

		<header>
			<%- include('../partials/nav', { hideSignIn: true }) %>
		</header>

		<div class="hero-body">
			<div class="container">

				<div class="columns is-centered">
					<div class="column is-two-fifths">
						<div class="field">

							<form id="login-form" class="box">
								<div class="field">
									<label class="label">Sign Into Your Account </label>
									<label class="label">Email</label>

									<div class="control">
										<input class="input" type="text" name="login" placeholder="Enter your email" />
									</div>

								</div>

								<div class="field">
									<label class="label">Password</label>
									<div class="control">
										<input class="input" type="password" name="password" id="password"
											placeholder="Enter your password" />
									</div>
								</div>


								<p class="mt-2">
								<div>
									<div class="control">
										<button class="button is-success">
											Login
										</button>
										<div id="login-error"></div>

									</div>
								</div>
								</p>
							</form>
							<p class="mt-6 has-text-centered">Don't have an account? Create one <a href="/sign-up"
									class="tag is-white is-medium">here</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

	window.onload = () => {
		const firebaseConfig = {
			// CS5356 TODO-DONE #2
			// Create your own Firebase project. See the assignment for
			// where you can get the Firebase config
			apiKey: "AIzaSyAgnwHnIFeW-LPy5c3M8G9vF-kSpt1pPf0",
			authDomain: "milestone1-cs5356-e2c33.firebaseapp.com",
			projectId: "milestone1-cs5356-e2c33",
			storageBucket: "milestone1-cs5356-e2c33.appspot.com",
			messagingSenderId: "367833969853",
			appId: "1:367833969853:web:cdd5f32b8e86f7cd4473d4",
			measurementId: "G-7N609QH955"

		};

		const app = firebase.initializeApp(firebaseConfig);

		app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

		document
			.getElementById("login-form")
			.addEventListener("submit", (event) => {
				event.preventDefault();
				const login = event.target.login.value;
				const password = event.target.password.value;

				// CS5356 TODO-DONE #3
				// Sign in using the Firebase SDK for Web
				// Get the users ID token
				// Start a new session with the users ID token
				// Redirect the user to the /dashboard
				firebase.auth().signInWithEmailAndPassword(login, password)
					.then((userCredential) => {
						const user = userCredential.user;
						user.getIdToken().then((idToken) => {
							fetch("/sessionLogin", {
								method: "POST",
								headers: { "Content-Type": "application/json" },
								body: JSON.stringify({ idToken }),
							}).then(() => {
								window.location.href = "/dashboard";
							});
						});
					})
					.catch((error) => {
						const errorCode = error.code;
						const errorMessage = error.message;
						alert(errorMessage)
					});

				return false;
			});
	};
</script>

</html>